
@{
    ViewBag.Title = "Index";
}

<div  >
    <input type="text" placeholder="Login" class="form-control" />
    <input type="password" placeholder="Senha" class="form-control" />
    <input type="button" value="Entrar" class="btn form-control" />
</div>
