@using Newtonsoft.Json
@{
    Layout = null;
    ViewBag.Title = "NetB - Login";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="~/Content/bootstrap-theme.min.css">
    <link rel="stylesheet" href="~/Content/fullcalendar.css" />
    <link rel="stylesheet" href="~/Content/calendario/calendar.css"/>
    <link rel="stylesheet" href="~/Content/toastr.css" />
    <script src="~/scripts/modernizr-2.8.3.js"></script>
    <script src="~/scripts/lib/jquery.min.js"></script>
    <script src="~/scripts/jquery-3.1.0.min.js"></script>
    <script src="~/scripts/bootstrap.min.js"></script>
    <script src="~/scripts/DataTables-1.10.12/media/js/jquery.dataTables.min.js"></script>
    <script src="~/scripts/DataTables-1.10.12/media/js/dataTables.bootstrap.min.js"></script>
    <script src="~/scripts/DataTables-1.10.12/media/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/scripts/Chart.js"></script>
    <script src="~/scripts/lib/moment.min.js"></script>
    <script src="~/scripts/lib/jquery-ui.min.js"></script>
    <script src="~/scripts/fullcalendar.js"></script>
    <script src='~/scripts/locale/pt-br.js'></script>
    <script src="~/scripts/toastr.js"></script>
    <script src="~/scripts/Navegacao/Funcoes.js"></script>
    <script src="~/scripts/Navegacao/UpdatePanel.js"></script>
    <script src="~/scripts/Navegacao/Navegacao.js"></script>
    <script src="~/scripts/qTip/jquery.qtip.js"></script>
</head>
<body>
    <div class="nav navbar-inverse" style="height:100px;">
        <img src="~/Content/images/Netb/netb.jpg" style="height:75px; width:75px;" class="img-rounded navbar-brand" />
        <a class="navbar-brand" style="font-size:50px; margin-top: 14px;" href="#">Net.B</a>
    </div>
    <div id="container" class="container">
        <div class="panel panel-default" style="margin-top: 200px; margin-left: 200px;width: 600px;">
            <div class="panel-heading">
                <h3 class="panel-title">Login</h3>
            </div>
            <div class="panel-body center-block">
                <input id="login" placeholder="Email" type="text" class="input-sm center-block " />
                <input id="senha" placeholder="Senha" type="password" class="input-sm center-block" />
                <input type="button"class="center-block btn btn-primary" value="Entrar" onclick="LoginIndex();" />
                <div id="erro" class="alert alert-danger" style="display:none" role="alert"> Login ou Senha incorreto, por favor tente Novamente!</div>
            </div>
        </div>
    </div>
    <footer class="nav navbar-inverse navbar-fixed-bottom panel-footer">
        <p>&copy; @DateTime.Now.ToShortDateString() - Net.B 2016</p>
    </footer>
</body>
</html>
