@using System.Collections.Generic
@using NetB.Models.Entidades
@model IEnumerable<Projetos>
@{
    Layout = null;
    ViewBag.title = "Grafico de Man-Day";
}
<div>
    <select id="select" class="form-control" onchange="BuscaHoras();">
        <option value="0">Selecione</option>
        @foreach (var item in Model)
        {
            <option value="@item.id">@item.nome</option>
        }
    </select>
    <canvas id="myChart"></canvas>
</div>
