    <div class="nav navbar-inverse">
        <img src="~/Content/images/Netb/netb.jpg" style="height:75px; width:75px;" class="img-rounded navbar-brand" />
        <a class="navbar-brand" style="font-size:50px; margin-top: 14px;" href="#">Net.B</a>
    </div>
    <div class="row panel">
        <div class="nav navbar-left col-xs-2" style="font: bold 15px verdana; color:white; background-color:#222222;">
            <ul class="nav nav-pills nav-stacked">
                <li role="button"><a href="javascript:void(0);" style="font: bold 15px verdana; color:white; background-color:#222222;" onclick="HomeIndex();">Home</a></li>
                <li role="button"><a href="javascript:void(0);" style="font: bold 15px verdana; color:white; background-color:#222222;" onclick="NavegacaoMacro();">Tabela Macro</a></li>
                @*<li role="button">@Html.ActionLink("Calendario", "Index", "Calendario",null, new { style = "font: bold 15px verdana; color:white; background-color:#222222;" })</li>*@
                <li role="button"><a href =javascript:void(0); style="font: bold 15px verdana; color:white; background-color:#222222;" onclick="NavegacaoCalendario();">Calendario</a></li>
                <li role="button"><a href="javascript:void(0);" style="font: bold 15px verdana; color:white; background-color:#222222;" onclick="NavegacaoTarefasProjeto();">Tarefas Por Projeto</a></li>
                <li role="button"><a href="javascript:void(0);" style="font: bold 15px verdana; color:white; background-color:#222222;" onclick="NavegacaoGraficoHoras();">Gráficos De Horas</a></li>
                <li role="button"><a href="javascript:void(0);" style="font: bold 15px verdana; color:white; background-color:#222222;" onclick="NavegacaoGraficoCusto();">Gráficos De Custos</a></li>
                <li role="button"><a href="javascript:void(0);" style="font: bold 15px verdana; color:white; background-color:#222222;" onclick="NavegacaoGraficoTarefas();">Gráficos De Tarefas</a></li>
                <li role="button"><a href="javascript:void(0);" style="font: bold 15px verdana; color:white; background-color:#222222;" onclick="BuscaHorasGeral();">Grafico de Man-Day Geral</a></li>
                <li role="button"><a href="javascript:void(0);" style="font: bold 15px verdana; color:white; background-color:#222222;" onclick="NavegacaoUsuarios();">Usuarios</a></li>
            </ul>
        </div>
        <div class="col-xs-10 container">
            @RenderBody()
        </div>
    </div>
    <footer class="nav navbar-inverse navbar-fixed-bottom panel-footer">
        <p>&copy; @DateTime.Now.Year - Net.B</p>
    </footer>