@using System.Collections.Generic;
@using NetB.Models.Entidades;
@model IEnumerable<Responsavel>
@{
    Layout = null;
    ViewBag.Title = "Index";
}
<script type="text/javascript">
    $(function () {
        $("#datepicker").datepicker();
    });
</script>
<div id="calendar"></div>
<div class="modal fade" id="basic" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h3 id="titulo" class="modal-title"></h3>
            </div>
            <div class="modal-body" style="height: 400px">
                <input type="hidden" id="numero" />
                <p id="descricao"></p>
                <p id="projeto"></p>
                <label>Justificativa</label>
                <p><textarea id="justificativa" style="height:100px; width:400px;" ></textarea></p>
                <label>Responsavel:</label>
                <p>
                    <select id="responsavel">
                        @foreach (var item in Model)
                        {
                            <option value="@item.id">@item.nome</option>
                        }
                </select>
            </p>
            <label>Data de Previsão:</label>
            <p><input type="text" id="datepicker" class="ui-datepicker" /></p>
        </div>
            <div class="modal-footer">
                <input type="submit" onclick="AtualizaTarefa();" class="btn btn-primary" value="Gravar" />
                <button type="button" class="btn btn-default" data-dismiss="modal">Voltar</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('#calendar').fullCalendar({
            locale: 'pt-br',
            events: '../Calendario/Eventos/',
            eventClick: function (event, element) {
                BuscaEventoModal(event.id);
                $('#calendar').fullCalendar('updateEvent', event);
            },
            //eventMouseover: function (event, element) {
            //    element.qtip({
            //        content: event.descricao,
            //        content: event.responsavel,
            //        content: event.projeto
            //    });
            //},
        });
    });

</script>
